# build
.vsteensy/build/**
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# temp
temp

**/build/
**/x64/
**/.vs/
**/html/

**/*.vcxproj.filters
**/*.vcxproj.user

# dependency files
*.d

# output and binaries
*.slo
*.lo
*.o
*.obj
*.hex
*.lst
*.elf
*.a

